* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: rgb(2, 0, 36);
    background: linear-gradient(360deg, rgba(2, 0, 36, 1) 0%, rgba(62, 121, 219, 1) 0%, rgba(0, 212, 255, 1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    /* max-width: 80%; */
    width: 60vw;
    background-color: rgba(255, 255, 255, 0.767);
    box-shadow: 0 5px 10px black;
    border-radius: 5px;
}

.header {
    background-color: #222;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.icon-container {
    position: relative;
    top: 70px;
    padding: 20px;
    background-color: white;
    width: 140px;
    height: 140px;
    border-radius: 50%;
}

.content {
    padding: 40px;
    margin-top: 50px;
}

.general-information {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }

  .location {
    font-size: 3rem;
    font-weight: bold;
  }

  .weather {
    font-size: 2rem;
    font-weight: normal;
    margin-top: 10px;
  }

  .icon{
    border: 5px black solid;
    border-radius: 50%;
    background-color: rgba(206, 206, 206, 0.555);
    width: 150%;
    height: 150%;
    margin-left: -25px;
    margin-top: -25px;
  }
  .details {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 0;
    flex-grow: 1;
    padding: 20px;
    font-size: 1.3em;
  }
  .details>.title{
    font-weight: bold;
  }
  .search-container{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
  }
  .search-container>.search{
    font-size: 1.5em;
    margin: 0 0 10px 10px;

  }
  